<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BigPrintWebApp-20180316084035.mdf;Initial Catalog=aspnet-BigPrintWebApp-20180316084035;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="HTPS_db"
       connectionString="Data Source=.;Initial Catalog=HTPS_Database;Integrated Security=True;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
